body {
    margin:0;
    padding:0;
    width: 100%;
    background-color: blanchedalmond;
    position: absolute;
}

.laikrodis {
    display: inline-block;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%);
    border: 15px solid black;
    border-radius: 50%;
    background-image: url(../images/laikrodis.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

       
}

.sekundes {
    height: 140px;
    width: 1px;
    background: red;
    position: relative;
    top: 10px;
    left: 149px;
    z-index:2;
    transform-origin: bottom;
    animation: sekundes_animation 10s linear infinite;
}

@keyframes sekundes_animation {
    from{transform: rotateZ(0deg);}
    to{transform: rotateZ(360deg);}
}

.minutes {
    position: relative;
    height: 130px;
    width: 3px;
    background: rgba(0, 0, 0, 0.774);
    top: -120px;
    left: 148px;
    z-index:1;
    transform-origin: bottom;
    animation: minutes_animation 20s linear infinite;
}

@keyframes minutes_animation {
    from{transform: rotateZ(0deg);}
    to{transform: rotateZ(360deg);}
}

.valandos {
    position: relative;
    height: 100px;
    width: 5px;
    background: rgba(0, 0, 0, 0.863);
    top: -220px;
    left: 147.5px;
    z-index:1;
    transform-origin: bottom;
    animation: valandos_animation 30s linear infinite;
}

@keyframes valandos_animation {
    from{transform: rotateZ(0deg);}
    to{transform: rotateZ(360deg);}
}

